@font-face {
  font-family: "spotify_font";
  src: url("../../assets/fonts/CircularStd-Medium.otf") format("opentype");
}
@font-face {
  font-family: "spotify_font_book";
  src: url("../../assets/fonts/CircularStd-Book.otf") format("opentype");
}
@font-face {
  font-family: "spotify_font_black";
  src: url("../../assets/fonts/CircularStd-Black.otf") format("opentype");
}
